*.o
*.la
*.lo
*.libs
*.deps
*.core

# /
/autom4te.cache
/config.h
/config.log
/config.cache
/config.status
/configure.lineno
/local-configure.sh
/libtool
/stamp-h*
/asn1c-*.tar.gz
/asn1c.spec
/Makefile

# /asn1c/
/asn1c/Makefile
/asn1c/asn1c
/asn1c/unber
/asn1c/enber

# /asn1c/tests/
/asn1c/tests/Makefile
/asn1c/tests/test-*

# /doc/
/doc/Makefile

# /doc/docsrc
/doc/docsrc/Makefile
doc/docsrc/*.aux
doc/docsrc/*.dvi
doc/docsrc/*.log
doc/docsrc/*.out
doc/docsrc/*.toc
doc/docsrc/*.xdv

# /examples/
/examples/Makefile
/examples/*.asn1

# /examples/*/
/examples/*/*.c
/examples/*/*.h
/examples/*/*dump
/examples/*/.tmp.*

# /libasn1compiler/
/libasn1compiler/Makefile
/libasn1compiler/check_compiler

# /libasn1fix/
/libasn1fix/Makefile
/libasn1fix/check_fixer

# /libasn1parser/
/libasn1parser/Makefile
/libasn1parser/check_parser

# /libasn1print/
/libasn1print/Makefile

# /skeletons/
/skeletons/Makefile

# /skeletons/standard-modules/
/skeletons/standard-modules/Makefile

# /skeletons/tests/
/skeletons/tests/Makefile
/skeletons/tests/check-*

# /tests/
/tests/Makefile
